<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" href="{{asset "css/casper.css"}}" />
    <link rel="stylesheet" href="{{asset "css/copper.css"}}" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:300,300italic,700,700italic|Oswald:300,700" />

    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
    {{navigation}}

    <div class="site-wrapper">
        {{{body}}}

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>
    </div>

    {{ghost_foot}}

    <script src="//cdn.jsdelivr.net/g/jquery@2,fitvids@1"></script>

    {{! Casper behaviours }}
    <script src="{{asset "js/casper.js"}}"></script>
</body>
</html>
